@mixin breakpoint($size) {
    @if $size == tablet {
      @media (min-width: 768px) {
        @content;
      }
    } @else if $size == desktop {
      @media (min-width: 1024px) {
        @content;
      }
    } @else if $size == small {
      @media (min-width: 330px) {
        @content;
      }
    } @else if $size == below_tablet {
      @media (max-width: 768px) {
        @content;
      }
    }
  }
  
  @mixin min-width($size) {
    @media (min-width: #{$size}) {
      @content;
    }
  }
  
  @mixin max-width($size) {
    @media (max-width: #{$size}) {
      @content;
    }
  }

  