@import '_variables.scss';

.lead {
    margin-top:50px;
  }

  .carousel_text {
    display:none;
    margin-top:60px;
    p {   
        color: gray;
        font-size: 24px;
        text-align: center;
        font-style: italic;
    }
    h3 {
        color: $black;
        font-style: normal;
    }
}

  .text_active {
    display:block;
  }
  .dots-wrapper {
    width:100%;
    margin:0 auto;
    margin-top:50px;
    height:100px;
    background-color:#fff;
    line-height:60px;
    border-radius:0;
    box-shadow:none;
  
    ul.dots {
      li {
        height:10px;
        width:10px;
        background:#ccc;
        border-radius:50%;
        margin-left:3px;
        margin-right:3px;
        cursor:pointer;
  
        &:hover {
          background:#bbb;  
        }
  
        &.active {
          background:#066CB6;
        }
      }
    }
  }