$primary-color: white;
$black: black;
$gray: gray;
$light-gray: #e5e5e5;
$medium-gray: #e7e7e7;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$myriad-pro: "Myriad Pro", Helvetica, Arial, sans-serif; 
$novecento: "Novecento wide, Helvetica, Arial, sans-serif";