@import '_variables.scss';
@import '_breakpoint.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  font-family: $helvetica-neue;
}

.container {
  width: auto !important;
}

.bg-header {
  background-image: url("/static/images/bg-header.jpg");
  background-repeat: repeat;
  background-size: 100%;

    &__craze-logo-box {
      min-height: 188px;
      margin-top: 115px;

      p {
        margin-left: 26px;    
        font-size: 1.5em;
        font-family: $helvetica-neue;
        color: $primary-color;
        text-shadow: 4px 0px gray;
      }

    }

    &__iphone-hand-box {
      background-image: url("/static/images/hand-with-iphone.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
      min-height: 340px;
      margin-top:135px;
      
      @include breakpoint(tablet) {
        min-height: 540px;
        margin:0;
      }
    }

    &__devices {

      @include breakpoint(small){
        display: inline-flex;
        margin: 16px;
      }

      &__icon {
        background-color: #000;
        opacity: 0.5;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 25px;
        float: left;
        align-items: flex-start;
        margin: 6px;
        cursor: pointer;

        &:hover{
          opacity: 1;
        }
      }

      &__icon img {
        margin:23%;
      }
    }
}

.features {

  padding: 30px;
  text-align: center;

  &__lead {
    text-align: center;
    margin-bottom: 60px;
    @include breakpoint(tablet){
      padding-left: 62px;
      padding-right: 62px;
    }
  }

  h1 {
    color: $black;
    font-family: $myriad-pro;
  }

  p {
    color: $gray;
    font-size: 16px;
  }

  &__item {
    padding:15px;
    &__border-right {
      @include breakpoint(tablet){
        border-right: 2px solid $light-gray;
        height: 236px;
      }
    }
  }

  &__border_bottom {
    border-bottom: 2px solid $light-gray;
    position: relative;
    margin: 30px;

    &__middle {
      border-bottom: 2px solid $light-gray;
      position: relative;
      margin: 5px;
    }

  }

  &__not_middle {
    padding: 20px;
  }

  &__middle {
    padding: 20px;
    @include breakpoint(tablet) {

    }
  }

}

.about {
  background-color: $medium-gray;
  padding: 20px;

  &__text {

    h1 {
      font-family: $myriad-pro;
      font-size: 30px;
    }

    p {
      font-size: 16px;
      color: $gray;
    }

    &__item {
      margin-bottom: 10px;
      margin-left: 10px;
      .glyphicon {
        font-weight: bold;
      }
    }
  }
}

#carousel {

.text_active {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

}

.pricing{
  background-color: $medium-gray;
  padding: 20px;
  text-align: center;
  &__plans{
    padding-top: 20px;
    padding-bottom: 40px;
    h2{
      font-family: $myriad-pro;
    }
    p {
      font-size: 16px;
      color:gray;
    }
  }
  &__no-spacing{
    margin:10px;
    @include breakpoint(tablet){
      padding: 2px;
      margin: 0;
    }

  }
  &__elevation{
    @include breakpoint(tablet){
      margin-top:-20px;
    }
  }
  
  &__wrapper{
    @include breakpoint(tablet){
      display: flex;
      height: 330px;
    }
  }
}

.card {
  text-align: center;
  border: solid 2px #ccc;
  background-color: white;

  &__title{
    font-size:28px;
  }

  &__bg {
    background-color:#3498db;
    color:white;
    padding:16px;
  }

  &__price{
    font-weight: 400;
    font-family: $novecento;
  }

  &__value_int{
    font-size: 42px;
    &:before{
      content:"$"
    }
  }

  &__value_decimal{
    margin-top: -20px;
    display: inline-flex;
    vertical-align: text-top;
  }

  &__features{
    list-style-type:none;
    li {
      border-top: solid 2px #c2c2c2;
      padding: 6px;
      font-size: 16px;
      list-style-type:none;

    }
  }

  &__purchase {
    background-color: #0d74b9;
    border:none;
    padding-left:16px;
    padding-right:16px;
    padding-bottom: 6px;
    padding-top: 6px;
    color:white;
  }

}

.social-media{
  text-align: center;
  @include breakpoint(tablet){
    margin-top: 80px;
  }
  h2{
    font-family: $myriad-pro;
    font-size: 30px;
  }
  p {
    font-size: 16px;
    color:gray;
  }
}

.social-media-items{

  text-align: center;

  div{
    display: inline-block;
  }

  &__item {
      background-color: #d4d4d4;
      opacity: 0.5;
      width: 50px;
      height: 48px;
      text-align: center;
      border-radius: 25px;
      float: left;
      align-items: flex-start;
      margin: 6px;
      cursor: pointer;

      &:hover{
        opacity: 1;
        background-color: #3498db;
      }
    }

    img {
      margin:27%;
    }
}

.footer {
  background-color: #e3e3e3;
  margin-top:30px;
  padding: 18px;

  ul{
    list-style-type: none;
    text-align: center;
    li{
      font-size: 16px;
      display: block;
      margin:18px;
      @include breakpoint(tablet){
        display: inline-block;
      }
    }
  }
  a {
    color:#a1a1a1;
    text-align: center;
    display: inline-block;
  }
}